<a href="https://colab.research.google.com/github/pnistha11/retailinsights360/blob/main/RetailInsights360.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Retail Insights 360**

# Week 1 - – Load raw data and quick EDA

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = "/content/drive/MyDrive/Colab Notebooks/Superstore Sales/sample_-_superstore.xls"

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_excel(data)
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [5]:
df.shape
df.info()
df.isnull().sum()
df.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9604,9605,CA-2015-138625,2015-11-02,2015-11-05,First Class,EG-13900,Emily Grady,Consumer,United States,Chesapeake,...,23320,South,OFF-AP-10003099,Office Supplies,Appliances,"Eureka Hand Vacuum, Bagless",197.720,4,0.0,55.3616
1274,1275,CA-2016-119186,2016-05-26,2016-05-26,Same Day,MS-17710,Maurice Satty,Consumer,United States,Fort Worth,...,76106,Central,FUR-CH-10001973,Furniture,Chairs,Office Star Flex Back Scooter Chair with White...,388.430,5,0.3,-88.7840
1927,1928,CA-2017-121538,2017-11-28,2017-12-01,First Class,RH-19495,Rick Hansen,Consumer,United States,Denver,...,80219,West,OFF-PA-10004071,Office Supplies,Paper,"Eaton Premium Continuous-Feed Paper, 25% Cotto...",88.768,2,0.2,31.0688
4072,4073,CA-2015-156104,2015-12-06,2015-12-08,Second Class,NP-18685,Nora Pelletier,Home Office,United States,Indianapolis,...,46203,Central,TEC-CO-10002095,Technology,Copiers,Hewlett Packard 610 Color Digital Copier / Pri...,999.980,2,0.0,449.9910
4997,4998,CA-2017-155824,2017-03-10,2017-03-15,Standard Class,KS-16300,Karen Seio,Corporate,United States,Raleigh,...,27604,South,OFF-BI-10000014,Office Supplies,Binders,Heavy-Duty E-Z-D Binders,13.092,4,0.7,-10.0372

In [6]:
df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [7]:
eda_summary = {
    "rows": df.shape[0],
    "columns": df.shape[1],
    "missing_values": df.isnull().sum().to_dict()
}

eda_summary

{'rows': 9994,
 'columns': 21,
 'missing_values': {'Row ID': 0,
  'Order ID': 0,
  'Order Date': 0,
  'Ship Date': 0,
  'Ship Mode': 0,
  'Customer ID': 0,
  'Customer Name': 0,
  'Segment': 0,
  'Country': 0,
  'City': 0,
  'State': 0,
  'Postal Code': 0,
  'Region': 0,
  'Product ID': 0,
  'Category': 0,
  'Sub-Category': 0,
  'Product Name': 0,
  'Sales': 0,
  'Quantity': 0,
  'Discount': 0,
  'Profit': 0}}

In [8]:
#raw data Saved
df.to_csv('superstore_raw.csv', index=False)

# Week 2 : Data profiling & business requirements

## **KPIs**


*  Revenue = Sales
*  Gross Margin = Sales − Profit
*  AOV = Sales / Orders
*  Conversion Proxy = Orders per customer

In [9]:
#Create base metrics
revenue = df['Sales'].sum()
profit = df['Profit'].sum()
orders = df['Order ID'].nunique()
customers = df['Customer ID'].nunique()
quantity = df['Quantity'].sum()

gross_margin = (profit / revenue) * 100
aov = revenue / orders
conversion_proxy = orders / customers

kpis = {
    "Revenue": revenue,
    "Profit": profit,
    "Gross Margin %": round(gross_margin, 2),
    "Average Order Value": round(aov, 2),
    "Quantity Sold": quantity,
    "Orders Count": orders,
    "Customer Count": customers,
    "Conversion Proxy": round(conversion_proxy, 2)
}

kpis

{'Revenue': np.float64(2297200.8603000003),
 'Profit': np.float64(286397.0216999999),
 'Gross Margin %': np.float64(12.47),
 'Average Order Value': np.float64(458.61),
 'Quantity Sold': np.int64(37873),
 'Orders Count': 5009,
 'Customer Count': 793,
 'Conversion Proxy': 6.32}

In [10]:
#Column list
df.columns.tolist()

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [11]:
#Unique values (dimension check)
df.nunique().sort_values(ascending=False)

Row ID           9994
Profit           7545
Sales            6144
Order ID         5009
Product ID       1862
Product Name     1850
Ship Date        1334
Order Date       1237
Customer ID       793
Customer Name     793
Postal Code       631
City              531
State              49
Sub-Category       17
Quantity           14
Discount           12
Ship Mode           4
Region              4
Segment             3
Category            3
Country             1
dtype: int64

In [12]:
#Date range check
df['Order Date'].min(), df['Order Date'].max()

(Timestamp('2014-01-03 00:00:00'), Timestamp('2017-12-30 00:00:00'))

In [13]:
#Numeric profiling
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [14]:
#Categorical profiling
df['Category'].value_counts()
df['Region'].value_counts()
df['Segment'].value_counts()

Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: count, dtype: int64

# Week 3 — Data cleaning & small fixes

In [15]:
df = df.copy()

In [16]:
#KPI cleaning
def calculate_kpis(data):
    return {
        "Rows": data.shape[0],
        "Revenue": round(data['Sales'].sum(), 2),
        "Profit": round(data['Profit'].sum(), 2),
        "Orders": data['Order ID'].nunique(),
        "Customers": data['Customer ID'].nunique(),
        "Quantity": data['Quantity'].sum()
    }

kpi_before = calculate_kpis(df)
kpi_before

{'Rows': 9994,
 'Revenue': np.float64(2297200.86),
 'Profit': np.float64(286397.02),
 'Orders': 5009,
 'Customers': 793,
 'Quantity': np.int64(37873)}

In [17]:
#Check duplicates
df.duplicated().sum()

#Remove duplicates
df = df.drop_duplicates()

In [18]:
#Identify negative quantities
df[df['Quantity'] <= 0].head()

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [19]:
#clean
df = df[df['Quantity'] > 0]

In [20]:
#HANDLE EXTREME OR INVALID SALES VALUES
df = df[df['Sales'] >= 0]

### DATE PARSING & TIMESTAMP FIX

In [21]:
#Check date types
df[['Order Date', 'Ship Date']].dtypes

Order Date    datetime64[ns]
Ship Date     datetime64[ns]
dtype: object

In [22]:
#Convert to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [23]:
#Remove invalid dates
df = df.dropna(subset=['Order Date', 'Ship Date'])

In [24]:
#CREATE DATE FEATURES
df['order_year'] = df['Order Date'].dt.year
df['order_month'] = df['Order Date'].dt.month
df['order_day'] = df['Order Date'].dt.day

In [25]:
#Convert to lowercase & strip spaces
text_cols = ['Category', 'Sub-Category', 'Region', 'Segment', 'Country', 'State', 'City']

for col in text_cols:
    df[col] = df[col].str.strip().str.lower()

In [26]:
#STANDARDIZE CATEGORY NAMES
df['Category'].value_counts()

Category
office supplies    6026
furniture          2121
technology         1847
Name: count, dtype: int64

In [27]:
kpi_after = calculate_kpis(df)
kpi_after

{'Rows': 9994,
 'Revenue': np.float64(2297200.86),
 'Profit': np.float64(286397.02),
 'Orders': 5009,
 'Customers': 793,
 'Quantity': np.int64(37873)}

In [28]:
comparison_df = pd.DataFrame([kpi_before, kpi_after], index=['Before Cleaning', 'After Cleaning'])
comparison_df

                 Rows     Revenue     Profit  Orders  Customers  Quantity
Before Cleaning  9994  2297200.86  286397.02    5009        793     37873
After Cleaning   9994  2297200.86  286397.02    5009        793     37873

In [29]:
#SAVE CLEANED DATASET
import os

os.makedirs("data/cleaned", exist_ok=True)
df.to_csv("data/cleaned/superstore_cleaned.csv", index=False)
df.to_csv("superstore_cleaned.csv", index=False)

In [30]:
#checking for data quality
assert df.isnull().sum().sum() == 0
assert df['Quantity'].min() > 0
assert df['Sales'].min() >= 0

In [31]:
df.shape

(9994, 24)